@import "@kyakujs/tailwind-config/tailwind.css";

@layer base {
  body {
    @apply cursor-default overflow-hidden select-none;
    text-rendering: optimizeLegibility;
    -webkit-font-variant-ligatures: contextual;
    font-variant-ligatures: contextual;
    -webkit-font-kerning: normal;
    font-kerning: normal;
  }

  .root {
    isolation: isolate;
  }

  /* Hide the default expand arrow on Safari.  */
  details summary::-webkit-details-marker {
    display: none;
  }
}
